<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="JustMock" version="2017.2.821.1" targetFramework="net452" />
  <package id="JustMock.EntityFramework" version="2015.3.929.5" targetFramework="net452" />
  <package id="Moq" version="4.7.145" targetFramework="net452" />
</packages>